    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }
    
    body {
        display: flex;
        justify-content: center;
    }
    
    .header {
        display: flex;
        margin-top: 65px;
        height: 35px;
    }
    
    .tabs_group {
        display: flex;
        margin-left: 100px;
        height: 100%;
    }
    
    .tab {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #4B5D68;
        text-decoration: none;
    }
    
    .active_tab {
        font-weight: 800;
        color: #212353;
    }
    
    .active_tab:hover {
        color: rgb(230, 61, 230)
    }
    
    .tab:hover {
        color: rgb(230, 61, 230)
    }
    
    .wrapper {
        min-width: 0;
        max-width: 1393px;
        flex-shrink: 1;
        overflow: hidden;
        padding: 0px 138px
    }
    
    .topMainContent {
        width: 100%;
        position: relative;
        padding-bottom: 80px;
    }
    
    .topMainContent h2 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 110%;
        display: flex;
        align-items: center;
        color: #212353;
        padding-top: 147px;
        width: 78%;
    }
    
    .topMainContent p {
        padding-bottom: 66px;
        padding-top: 50px;
        width: 380px;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #4B5D68;
    }
    
    .topMainContent__button {
        padding: 16px 37px;
        text-decoration: none;
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        width: 170px;
        height: 60px;
        left: 240px;
        top: 644px;
        background: #9C69E2;
        border-radius: 50px;
    }
    
    .centrMainContent {
        background-color: rgba(240, 99, 184, 0.15);
        border-radius: 50px;
        margin-top: 99px;
        display: flex;
    }
    
    .centrMainContent img {
        padding-bottom: 32px;
        padding-top: 32px;
        width: 469px;
        height: 496px;
    }
    
    .centrMainContent__textBlock {
        padding-top: 125px;
        padding-right: 93px;
        padding-bottom: 125px;
        padding-left: 65px;
    }
    
    .centrMainContent__textBlock h2 {
        width: 100%;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: #212353;
    }
    
    .centrMainContent__textBlock p {
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #4B5D68;
        padding-top: 40px;
        max-width: 84%;
    }
    
    .featuresMainContent__textBlock {
        text-align: center;
        padding-top: 150px;
    }
    
    .featuresMainContent__textBlock h2 {
        font-size: 40px;
        line-height: 130%;
        color: #212353;
    }
    
    .featuresMainContent__textBlock p {
        color: #4B5D68;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        padding: 50px 265px;
    }
    
    .featuresMainContent__card {
        display: grid;
        grid-template-columns: 442px 442px;
        column-gap: 147px;
        row-gap: 50px;
        padding-top: 50px;
        padding-left: 89px;
    }
    
    .IMG {
        position: absolute;
        right: -8%;
        bottom: 0px;
        width: 75%;
    }
    
    .cardMainContent {
        background-repeat: no-repeat;
        width: 442px;
        height: 358px;
        border-radius: 50px;
        padding-top: 73px;
        display: flex;
    }
    
    .backIMGgreen {
        background-image: url(img/Rectangle39.png);
    }
    
    .backIMGpurple {
        background-image: url(img/Rectangle\ 39\ \(2\).png);
    }
    
    .backIMGpink {
        background-image: url(img/Rectangle\ 39\ \(3\).png);
    }
    
    .backIMGblue {
        background-image: url(img/Rectangle\ 39\ \(4\).png);
    }
    
    .cardMainContent img {
        width: 232px;
        height: 211px;
        margin-left: -89px;
    }
    
    .cardMainContent h2 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 130%;
        align-items: center;
        color: #212353;
        height: 1%;
        width: 75%;
        display: flex;
        padding-left: 30px;
    }
    
    .cardMainContent p {
        width: 80%;
        height: 78%;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #4B5D68;
        padding-top: 40px;
        padding-left: 30px;
    }
    
    .card_tag {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin-left: 32px;
    }
    
    .card_tag img {
        width: 20px;
        height: 14px;
    }
    
    .card_tag h2 {
        font-weight: 800;
        font-size: 16px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: #212353;
    }
    
    .centrMainContent__textBlock p {
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #4B5D68;
    }
    
    .centrMainContent__textBlock {
        padding-right: 92px;
        padding-top: 125px;
        padding-left: 65px;
        padding-bottom: 125px;
    }
    
    .featuresBottomContent {
        background: #9C69E2;
        border-radius: 50px;
        padding-left: 93px;
        padding-top: 109px;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    
    .featuresBottomContent h2 {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 40px;
        line-height: 130%;
    }
    
    .featuresBottomContent__cardBlock {
        margin-top: 89px;
        display: flex;
        margin-right: -460px;
    }
    
    .featuresBottomContent__cardBlock_cardWide {
        background: #FFFFFF;
        box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
        border-radius: 20px;
        display: flex;
        padding: 50px 70px;
        width: 30%;
        box-shadow: 0px 20px 0px #003b8026;
        margin-left: 20px;
        width: 130%;
    }
    
    .featuresBottomContent__cardBlock_cardWide img {
        height: 90px;
    }
    
    .featuresBottomContent__cardBlock_card {
        background: #FFFFFF;
        box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
        border-radius: 20px;
        display: flex;
        padding: 50px 70px;
        width: 30%;
        box-shadow: 0px 20px 0px #003b8026;
        margin-left: 20px;
        width: 80%;
    }
    
    .featuresBottomContent__cardBlock_card img {
        width: 90px;
        height: 90px;
    }
    
    .card-text {
        padding-left: 30px;
    }
    
    .card-text h1 {
        font-weight: 900;
        font-size: 18px;
        line-height: 160%;
        align-items: center;
        letter-spacing: 0.005em;
        color: #212353;
    }
    
    .description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 180%;
        color: #4B5D68;
        padding-top: 19px;
    }
    
    .tag {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        color: #9C69E2;
    }
    
    .changed_card {
        display: flex;
        justify-content: space-between;
        padding-top: 65px;
        padding-bottom: 65px;
    }
    
    .selector {
        padding-right: 76px;
    }
    
    .line {
        background: #9C69E2;
        opacity: 0.2;
        margin: 0px -500px;
    }
    
    .footer {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer__left_logo {
        display: flex;
        align-items: center;
    }
    
    .footer__left_logo h2 {
        padding-left: 20px;
        font-weight: 900;
        font-size: 20px;
        line-height: 160%;
        color: #212353;
    }
    
    .contact_info-adress {
        width: 50%;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0.01em;
        color: #212353;
        padding-top: 66px;
    }
    
    .contact_info-phone {
        width: 30%;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0.01em;
        color: #212353;
        padding-top: 10px;
    }
    
    .contact_info {
        width: 52%;
        font-size: 12px;
        line-height: 180%;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        color: #212353;
        padding-top: 36px;
        padding-bottom: 65px;
    }
    
    .footer__right h2 {
        font-weight: 900;
        font-size: 16px;
        line-height: 160%;
        color: #212353;
        margin-bottom: 30px;
    }
    
    @media (max-width: 1400px) {
        .featuresMainContent__card {
            column-gap: 15px;
            row-gap: 15px;
        }
        .IMG {
            width: 90%;
        }
        .IMG img {
            width: 90%;
        }
        .topMainContent p {
            width: 22%;
        }
        .topMainContent h2 {
            font-size: 70px;
            width: 65%;
        }
        .centrMainContent img {
            height: 100%
        }
        .featuresMainContent__card {
            width: 90%;
        }
    }
    
    @media (max-width: 1200px) {
        .featuresBottomContent__cardBlock_card {
            width: 82%;
            margin-right: -400px;
        }
        .featuresBottomContent__cardBlock_cardWide {
            width: 82%;
        }
        .featuresBottomContent__cardBlock_cardWide img {
            width: 105px;
            height: 105px;
        }
        .featuresBottomContent h2 {
            justify-content: center;
            padding-right: 90px;
        }
        .featuresBottomContent__cardBlock {
            display: flex;
        }
        .featuresMainContent__card {
            grid-template-columns: none;
            justify-content: center;
        }
        .cardMainContent p {
            font-size: 14px;
        }
        .card_tag img {
            margin-right: -15px;
        }
        .IMG img {
            width: 108%;
        }
        .centrMainContent img {
            width: 50%;
        }
        .centrMainContent {
            margin: 0px;
        }
        .centrMainContent__textBlock h2 {
            font-size: 33px;
        }
        .centrMainContent__textBlock p {
            font-size: 15px;
            padding-top: 20px;
        }
        .featuresMainContent__textBlock {
            padding-top: 70px;
        }
        .featuresMainContent__textBlock p {
            padding: 50px 0px;
        }
        .IMG {
            position: static;
        }
        .topMainContent {
            padding-bottom: 40px;
        }
        .topMainContent p {
            width: 100%;
            font-size: 14px;
        }
        .topMainContent h2 {
            font-size: 55px;
            width: 100%;
        }
        .first_card-card_block {
            width: 77%;
            margin-top: 30px;
        }
    }
    
    @media (max-width: 1024px) {
        .wrapper {
            padding: 0px 112px;
        }
        .centrMainContent__textBlock {
            padding-right: 43px;
        }
        .featuresMainContent__textBlock p {
            padding: 50px 0px;
        }
        .IMG {
            display: none;
        }
        .centrMainContent img {
            display: none;
        }
        .centrMainContent {
            margin-top: 0px;
        }
        .featuresMainContent__card {
            justify-content: center;
        }
        .card_tag img {
            display: none;
        }
        .card_tag h4 {
            text-decoration-line: underline;
        }
        .featuresBottomContent__cardBlock_cardWide {
            width: 100%;
        }
        .featuresBottomContent__cardBlock_card {
            width: 100%;
        }
        .featuresBottomContent__cardBlock_cardWide img {
            display: none;
        }
        .featuresBottomContent__cardBlock_card img {
            display: none;
        }
        .featuresBottomContent {
            padding-left: 85px;
        }
        .featuresBottomContent__cardBlock {
            justify-content: center;
            padding-right: 85px;
        }
        .footer__right_socialNetwork {
            display: flex;
        }
        .footer__right h2 {
            padding-left: 30px;
            margin-top: 10px;
        }
    }
    
    @media (max-width: 767px) {
        .featuresBottomContent__cardBlock {
            padding-right: 15px;
        }
        .featuresBottomContent {
            margin-top: 75px;
            padding-left: 5px;
        }
        .featuresBottomContent h2 {
            justify-content: center;
            padding-right: 0px;
        }
        .featuresBottomContent__cardBlock_card {
            width: 100%;
            padding: 25px 35px;
            display: none;
        }
        .description {
            font-size: 16px;
            line-height: 120%;
        }
        .featuresBottomContent__cardBlock_cardWide {
            width: 100%;
            padding: 25px 35px;
            margin-right: 470px;
        }
        .featuresMainContent__card {
            justify-content: center;
            padding-left: 80px;
        }
        .backIMGgreen {
            background-image: none;
            background-color: #eff8f6;
        }
        .backIMGpurple {
            background-image: none;
            background-color: #f6f0ff;
        }
        .backIMGpink {
            background-image: none;
            background-color: #ffeff8;
        }
        .backIMGblue {
            background-image: none;
            background-color: #ecf6fc;
        }
        .cardMainContent {
            flex-wrap: wrap;
            width: 100%;
        }
        .card-text {
            padding-right: 10px;
        }
        .cardMainContent p {
            width: 95%;
            height: 85%;
        }
        .cardMainContent img {
            width: 152px;
            height: 130px;
            margin-left: -50px;
            margin-top: -110px;
        }
        .cardMainContent div {
            height: 75%;
        }
        .featuresMainContent__textBlock {
            padding-top: 35px;
        }
        .featuresMainContent__textBlock h2 {
            font-size: 30px;
        }
        .featuresMainContent__textBlock p {
            padding: 25px 0px;
            font-size: 15px;
        }
        .featuresMainContent__textBlock div {
            padding-top: 15px;
        }
        .centrMainContent__textBlock {
            padding-right: 35px;
        }
        .wrapper {
            padding: 0px 32px;
        }
        .header {
            display: flex;
            justify-content: center;
        }
        .tabs_group {
            margin: 0px;
        }
        .topMainContent__button {
            margin: auto;
        }
        .topMainContent h2 {
            margin: auto;
            font-size: 33px;
        }
        .footer {
            padding-top: 25px;
        }
        .footer__left img {
            display: none;
        }
        .footer__left h2 {
            padding-left: 0px;
            margin-top: 5px;
            font-size: 19px;
        }
        .footer__left p {
            padding-top: 26px;
        }
        .changed_card {
            padding-left: 25px;
        }
        .selector {
            padding-right: 30px;
        }
    }
    
    @media (max-width: 425px) {
        .featuresBottomContent {
            margin-top: 60px;
            width: 100%;
        }
        .featuresBottomContent__cardBlock_card {
            width: 107%;
        }
        .featuresBottomContent__cardBlock_cardWide {
            width: 107%;
        }
        .tag {
            font-size: 11px;
        }
        .description {
            font-size: 13px;
        }
        .featuresMainContent__card {
            justify-content: center;
            padding-left: 50px;
        }
        .centrMainContent__textBlock {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        .centrMainContent__textBlock h2 {
            font-size: 20px;
        }
        .header {
            display: flex;
            justify-content: space-between;
        }
        .wrapper {
            padding: 0px 8px;
        }
        .topMainContent h2 {
            padding-top: 55px;
            justify-content: space-between;
        }
        .tab {
            font-size: 12px;
        }
        .card-text {
            padding-left: 0px;
            padding-right: 5px;
        }
        .footer__right h2 {
            display: none;
        }
        .footer__right_socialNetwork {
            display: grid;
            margin-top: 70px;
        }
    }